@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto";
  background-color: #ececec;
  margin: 0;
}

header {
  background-color: #ececec;
  margin: 0 auto;
  text-align: center;
  display:block;
  z-index: 999;
}

h2 {
  font-family: "Roboto";
  position: relative;
  top: 0;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .03em;
  z-index: 2;
}

main {
  display: inline-block;
  width: 100%;
  margin-top: 0px;
}

.content {
  padding: 10px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

.ontop {
    width: 100%;
    height: 10px;
    background-color: #32338e;
}

#myHeader{
  z-index: 999;
}

.progress-bar {
    /*position: fixed;*/
    top: 0;
    left: 0;
    width: 0;
    height: 10px;
    background-color: #32a457;
    transition:width .1s;
    transition-timing-function: ease-out;
    -webkit-transition:width .1s;
    -webkit-transition-timing-function: ease-out;
    z-index: 1000;
}

.logo {
  margin: 10px 0 10px 0;
}

nav li {
  font-size: 1rem;
  list-style: none;
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  z-index: 99;
  padding-left: 10px;
  padding-right: 10px;
}

nav a {
  color: black;
  text-decoration: none;
}

.nav-item::after {
  display: block;
  margin: 5px auto;
  text-align: center;
  content: "";
  align-self: center;
  width: 15px;
  height: 5px;
  color: #ececec;
  text-decoration: none;
  background-color: #32338e;
  transition: 0.4s;
}

.nav-item:hover::after {
  content: "";
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #32a457;
  z-index: -1;
  transition: 0.3s;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: #ececec;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

/*.nav-branding {
  font-size: 2rem;
}*/

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: #32338e;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #32338e;
}

.geral {
  margin-left: 8%;
  margin-right: 5%;
}

.titulo-div {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 30px;
  margin-top: 50px;
  padding-left: 15px;
}

.titulo-div::before {
  content: "";
  display: inline-block;
  background-image: url("../imagens/marker.svg");
  background-size: 19px 19px;
  width: 19px;
  height: 19px;
  margin-right: 30px;
}

.titulo {
  align-self: center;
  font-family: "Roboto";
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #32338e;
}

.func {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  width: 180px;
  text-align: center;
  margin-bottom: 60px;
  display: inline-block;
  margin-right: 25px;
  transition: 0.4s;
}

.icon {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.func:hover {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(0); /* Microsoft Edge and Firefox 35+ */
  color: #ececec;
  transition: 0.4s;
}

h2::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0px;
  left: -3px;
  background-color: #32338e;
  background-size: 5px 22x;
  width: 5px;
  height: 22px;
  margin-right: 5px;
  z-index: -1;
}

.func:hover h2::before {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: -3px;
  background-color: #32338e;
  background-size: 5px 22px;
  width: 105%;
  height: 22px;
  margin-right: 5px;
  transition: 0.4s;
  z-index: -1;
}

.func p {
  color: black;
}

.icon-titulo {
  margin-top: 200px;
}

@media (max-width: 1024px) {
  nav a {
    color: white;
    text-decoration: none;
    padding: 20px 10% 20px 10%;
  }
  .navbar {
    padding: 0;
    min-height: 0;
  }

  .hamburger {
    border-radius: 100%;
    padding-top: 5px;
    background-color: #32a457;
    width: 40px;
    height: 35px;
    display: block;
    position: fixed;
    top: 50px;
    left: 85%;
    z-index: 2;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0px;
    gap: 0;
    display: block;
    background-color: #32a457;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 2;
  }

  .nav-item::after {
    display: none;
  }

  .nav-item {
    margin: 80px 0;
  }

  .nav-menu.active {
    left: 0;
  }
  main {
    text-align: center;
  }

  .geral {
    margin: 0;
    margin-left: 0px;
  }
  .titulo-div {
    margin-left: 10px;
  }
  
  .func {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    z-index: -1;
    margin-right: 20px;
  }

  .icon {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .func::after {
    left: -5px;
  }

  .func:hover:after {
    left: -5px;
    width: 108%;
  }
}
